/* General elements */

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  background: #fdfdfd;
}

body {
  margin: auto;
  padding: 0 21px;
  max-width: 1080px;
  color: #494949;
  opacity: 0;
  font-family: "Lato Regular", sans-serif;
  transition: 350ms padding, 700ms opacity;
}

::selection {
  text-shadow: none;
  background: #e7fff5;
  color: #071421;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h3,
h5 {
  margin: 0;
}

h2,
h3,
h3 {
  font-family: "Lato Regular", sans-serif;
  user-select: none;
  cursor: default;
}

h2 {
  margin-bottom: 14px;
  font-size: 2.1em;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 7px;
  font-size: 1.75em;
}

p {
  margin: 0;
  color: #494949;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p a,
footer a {
  font-weight: bold;
}

/* Nav */

nav {
  display: none;
  opacity: 0;
}

nav li {
  position: relative;
  padding: 7px 7px 3px 11px;
}

nav li a {
  clear: both;
  display: block;
  width: 100%;
  text-transform: uppercase;
  transition: 350ms color;
}

nav li:hover {
  cursor: pointer;
}

nav li:after {
  content: "";
  width: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  transition: 350ms width;
  background: linear-gradient(to right, #e7fff5 0%, #e7f5ff 100%);
}

nav li.selected {
  padding-right: 14px;
}

nav li:hover a,
nav li.selected a {
  padding-right: 14px;
  color: #282828;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

nav li:hover:after {
  width: 94.5%;
}

nav li.selected:after {
  width: 100%;
}

/* Sections */

section {
  padding: 35px 0;
  clear: left;
  overflow: hidden;
}

.callout,
.group {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

footer {
  margin: 0 0 2.1em;
  padding: 0 14px 3rem;
  text-align: center;
}

footer,
.years {
  color: #565656;
}

.years {
  font-size: 1rem;
  padding-top: 0.7em;
  font-style: italic;
}

/* Images */

img {
  display: none;
  border-radius: 100%;
  transition: 350ms opacity;
  user-select: none;
}

img.loading {
  opacity: 0;
}

img.loaded {
  border-radius: initial;
  opacity: 1;
}

img.headline {
  float: right;
  width: 266px;
  height: 266px;
  min-width: 266px;
  min-height: 266px;
  border-radius: 100%;
}

img.primary {
  margin: 0 35px 0 28px;
  width: 175px;
  height: 175px;
  min-width: 175px;
  min-height: 175px;
}

img.secondary {
  height: 117px;
}

/* Section: Contact */

#contact {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.75em;
}

#contact img {
  margin-left: 7px;
}

#contact div.headline {
  overflow: hidden;
}

#contact h1 {
  margin: 7px 0;
  color: #282828;
  font-size: 2.1em;
  font-family: "Lato Regular", sans-serif;
  line-height: 91%;
  transition: 350ms text-shadow;
}

#contact ul {
  margin-bottom: 0;
  padding-top: 21px;
}

#contact li {
  display: inline-block;
  margin: 0 21px 7px 0;
  font-weight: bold;
}

#contact li:not(:first-child) {
  list-style: circle;
}

#contact.selected h1 {
  text-shadow: 3px 3px 1px #e2f7f6;
}

/* Callouts */

.heading-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Adaptive (medium) */

@media screen and (min-width: 640px) and (min-device-width: 1050px) {
  h2 {
    margin-bottom: 35px;
  }

  #contact {
    padding-top: 28px;
    padding-bottom: 14px;
    font-size: 1.4em;
  }

  #contact h1 {
    font-size: 2.1em;
  }

  img {
    display: inline-block;
    transition: 350ms opacity;
  }

  p.summary {
    padding-bottom: 1.4rem;
  }

  h3.imagelike {
    display: initial;
  }

  .text-together {
    display: inline-block;
  }

  /* Sections */

  h2 {
    position: relative;
    padding: 7px 0 0 0;
    transition: 350ms color, 350ms padding-left;
  }

  section.selected h2 {
    padding-left: 11px;
    color: #424242;
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
  }

  h2:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 490ms width;
  }

  section.selected h2:after {
    width: 100%;
    background: linear-gradient(to right, #e7f5ff 0%, #e7fff5 100%);
  }

  h3 {
    display: block;
  }

  img.headline {
    margin-right: 28px;
    background-clip: padding-box;
    box-shadow: 0 0 3px 1px #d7efe5;
    transition: 490ms border-color, 350ms margin-top, 350ms box-shadow,
      350ms opacity;
  }

  section.selected img.headline {
    box-shadow: 0 7px 7px 3px #d7efe5;
  }

  footer {
    margin: 3.5rem 0 1.4rem;
  }

  .footer-line {
    display: inline;
  }

  /* Callouts */

  .callout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .callout > img,
  .callout > p {
    align-self: center;
  }

  .callout-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Groups */

  .groups {
    margin-top: 2.1rem;
    display: flex;
  }

  .callout-groups {
    margin-top: 3.5rem;
  }

  .group {
    margin: 0 0 0.7rem;
    font-size: 0.84em;
    border-bottom: none;
    flex: 1;
  }

  .group img {
    margin: 0.7rem 0;
  }

  .group:not(.callout) {
    text-align: center;
  }

  .group:not(.callout) .heading-area {
    flex-direction: column;
  }

  .group:not(.callout) .years {
    padding: 0 0 0.35rem;
  }
}

/* Adaptive (large) */

@media screen and (min-width: 910px) and (min-device-width: 1050px) {
  body {
    padding: 0 14px 14px 14px;
  }

  nav {
    position: fixed;
    padding: 163px 35px 0 0;
    right: auto;
    bottom: auto;
    display: block;
    width: 273px;
    opacity: 1;
    box-sizing: border-box;
    text-align: right;
    font-family: "Lato Regular", sans-serif;
    font-size: 1.75em;
    user-select: none;
    transition: 350ms opacity;
  }

  main {
    margin-left: 273px;
  }

  #contact {
    padding-top: 98px;
    padding-bottom: 70px;
  }

  img.headline {
    margin-right: 42px;
    float: left;
    height: 266px;
  }

  h2 {
    font-size: 2.1em;
  }
}

/* Fonts */

@font-face {
  font-display: block;
  font-family: "Lato Regular";
  src: url("fonts/Lato-Regular-Reduced.woff") format("woff"),
    url("fonts/Lato-Regular-Reduced.ttf") format("truetype");
}

@font-face {
  font-display: block;
  font-family: "Open Sans Regular";
  src: url("fonts/Open-Sans-Regular-Reduced.woff") format("woff"),
    url("fonts/Open-Sans-Regular-Reduced.ttf") format("truetype");
}
