/* General elements */

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  background: #fdfdfd;
}

body {
  margin: auto;
  padding: 0 21px;
  max-width: 1080px;
  color: #494949;
  font-family: "Lato Regular", sans-serif;
  transition: 350ms padding, 700ms opacity;
}

#everything:not(#noscript-detected + #everything, .loaded) {
  opacity: 0;
}

::selection {
  text-shadow: none;
  background: #e7fff5;
  color: #071421;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
strong {
  margin: 0;
}

h2,
strong {
  font-family: "Lato Regular", sans-serif;
  font-weight: normal;
}

h2 {
  margin-bottom: 14px;
  font-size: 2.1em;
  text-transform: uppercase;
  user-select: none;
}

strong {
  margin-bottom: 7px;
  font-size: 1.5em;
}

p {
  margin: 0;
  color: #494949;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p a,
footer a {
  font-weight: bold;
}

.larger {
  font-size: 1rem;
}

/* Nav */

nav {
  display: none;
  opacity: 0;
}

nav li {
  position: relative;
  padding: 7px 7px 3px 11px;
  transition: 350ms padding-right;
}

nav li a {
  clear: both;
  display: block;
  width: 100%;
  text-transform: uppercase;
  transition: 350ms color;
}

nav li:hover {
  cursor: pointer;
}

nav li:after {
  content: "";
  width: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  transition: 350ms width;
  background: linear-gradient(to right, #e7fff5 0%, #e7f5ff 100%);
}

nav li.selected {
  padding-right: 14px;
}

nav li:hover a,
nav li.selected a {
  padding-right: 14px;
  color: #282828;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

nav li:hover:after {
  width: 94.5%;
}

nav li.selected:after {
  width: 100%;
}

/* Description */

.description {
  color: black;
  font-size: 1.35rem;
  margin-bottom: 35px;
  padding: 3px 7px 0 21px;
  position: relative;
}

.description::before {
  background: linear-gradient(to bottom, #a3cdeb 0%, #a7f0d3 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 10px;
}

/* Sections */

section {
  padding: 35px 0;
  clear: left;
  overflow: hidden;
}

.callout,
.group {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.recipient {
  font-size: 0.9rem;
}

.links {
  display: flex;
  margin-top: 0.5rem;
}

.links a {
  padding-right: 5px;
}

.links a:not(:first-of-type) {
  padding-left: 5px;
}

footer {
  margin: 0 0 2.1em;
  padding: 0 14px 3rem 0;
}

footer,
.locator {
  color: #565656;
}

.locator {
  font-size: 1rem;
  padding-top: 0.7em;
}

.locator-year {
  font-style: italic;
}

/* Image-likes (emojis & images) */

.emoji span,
.img {
  transition: 350ms opacity;
  user-select: none;
}

/* Emojis */

.emoji:not(.loaded) span {
  opacity: 0;
}

.emoji:not(.loaded)::before {
  background: linear-gradient(to right, #e7f5ff 0%, #e7fff5 100%);
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 24px;
  margin-top: 4px;
  position: absolute;
  width: 24px;
}

img {
  display: none;
  border-radius: 100%;
}

img.loading {
  opacity: 0;
}

img.loaded {
  border-radius: initial;
  opacity: 1;
}

img.headline {
  float: right;
  width: 266px;
  height: 266px;
  min-width: 266px;
  min-height: 266px;
  border-radius: 100%;
}

img.primary {
  margin: 0 35px 0 28px;
  width: 175px;
  height: 175px;
  min-width: 175px;
  min-height: 175px;
}

img.secondary {
  height: 117px;
}

/* Section: Contact */

#contact {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.75em;
}

#contact img {
  margin-left: 7px;
}

#contact div.headline {
  overflow: hidden;
}

#contact h1 {
  color: #282828;
  font-size: 2.1em;
  font-family: "Lato Regular", sans-serif;
  line-height: 91%;
  transition: 350ms text-shadow;
}

#contact ul {
  margin-bottom: 0;
  padding-top: 21px;
}

#contact li {
  display: inline-block;
  margin: 0 21px 7px 0;
  font-weight: bold;
}

#contact li:not(:first-child) {
  list-style: circle;
}

#contact.selected h1 {
  text-shadow: 3px 3px 1px #e2f7f6;
}

/* Callouts */

.heading-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Adaptive (medium) */

@media screen and (min-width: 640px) and (min-device-width: 1050px) {
  h2 {
    margin-bottom: 35px;
  }

  #contact {
    padding-top: 28px;
    padding-bottom: 14px;
    font-size: 1.4em;
  }

  #contact h1 {
    font-size: 2.1em;
  }

  img {
    display: inline-block;
    transition: 350ms opacity;
  }

  .text-together {
    display: inline-block;
  }

  /* Description */

  .description {
    margin-top: 35px;
  }

  /* Sections */

  h2 {
    position: relative;
    padding: 7px 0 0 0;
    transition: 350ms color, 350ms padding-left;
  }

  section.selected h2 {
    padding-left: 11px;
    color: #424242;
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
  }

  h2:after {
    background: linear-gradient(to right, #e7f5ff 0%, #e7fff5 100%);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 490ms width, 350ms opacity;
    width: 0%;
    z-index: -1;
  }

  section.selected h2:after {
    width: 100%;
    opacity: 1;
  }

  strong {
    display: block;
  }

  img.headline {
    margin-right: 28px;
    background-clip: padding-box;
    box-shadow: 0 0 3px 1px #d7efe5;
    transition: 490ms border-color, 350ms margin-top, 350ms box-shadow, 350ms opacity;
  }

  section.selected img.headline {
    box-shadow: 0 7px 7px 3px #d7efe5;
  }

  footer {
    margin: 3.5rem 0 1.4rem;
  }

  /* Callouts */

  .callout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .callout > img,
  .callout > p {
    align-self: center;
  }

  .callout-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* Grid */

  .grid {
    display: grid;
    gap: 16px;
  }

  .cell-1 {
    grid-area: 1 / 1 / 4 / 2;
  }

  .cell-2 {
    grid-area: 1 / 2 / 4 / 3;
  }

  .cell-4 {
    grid-area: 4 / 1 / 7 / 2;
  }

  .cell-3 {
    grid-area: 1 / 3 / 4 / 4;
  }

  .cell-5 {
    grid-area: 4 / 2 / 7 / 3;
  }
  .cell-6 {
    grid-area: 4 / 3 / 5 / 4;
    padding-top: 8px;
  }

  .cell-7 {
    grid-area: 5 / 3 / 6 / 4;
  }

  .cell-8 {
    display: flex;
    justify-content: end;
    grid-area: 6 / 3 / 7 / 4;
  }

  /* Groups */

  .groups {
    margin-top: 2.1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .callout-groups {
    margin-top: 3.5rem;
    row-gap: 2rem;
    flex-wrap: wrap;
  }

  .group {
    margin: 0 0 0.7rem;
    font-size: 0.84em;
    flex: 1;
    min-width: 40%;
  }

  .group img {
    margin: 0.7rem 0;
  }

  .group:not(.callout) .heading-area {
    flex-direction: column;
  }

  .group:not(.callout) .locator {
    padding: 0 0 0.35rem;
  }
}

/* Adaptive (large) */

@media screen and (min-width: 910px) and (min-device-width: 1050px) {
  body {
    padding: 0 14px 14px 14px;
  }

  nav {
    position: fixed;
    padding: 163px 35px 0 0;
    right: auto;
    bottom: auto;
    display: block;
    width: 273px;
    opacity: 1;
    box-sizing: border-box;
    text-align: right;
    font-family: "Lato Regular", sans-serif;
    font-size: 1.75em;
    user-select: none;
    transition: 350ms opacity;
  }

  main,
  footer {
    margin-left: 273px;
  }

  #contact {
    padding-top: 117px;
    padding-bottom: 70px;
  }

  img.headline {
    margin-right: 42px;
    float: left;
    height: 266px;
  }

  .description {
    margin-top: 0;
  }

  h2 {
    font-size: 2.1em;
  }

  .group {
    min-width: 30%;
    padding-right: 10px;
  }
}

/* Fonts */

@font-face {
  font-display: block;
  font-family: "Lato Regular";
  src: url("fonts/Lato-Regular-Reduced.woff") format("woff"), url("fonts/Lato-Regular-Reduced.ttf") format("truetype");
}

@font-face {
  font-display: block;
  font-family: "Open Sans Regular";
  src: url("fonts/Open-Sans-Regular-Reduced.woff") format("woff"), url("fonts/Open-Sans-Regular-Reduced.ttf") format("truetype");
}
